<h1>Liste des personnes</h1>

<p *ngIf="!(personnes$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">Ajouter</a>
</p>

<table class="table table-sm table-hover" *ngIf="(personnes$ | async)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Note</th>
      <th>Departement</th>
      <th>Date de naissance</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let blogPost of (blogPosts$ | async)">
      <td>1</td>
      <td>Delaure</td>
      <td>Victor</td>
      <td>v.dalaure1@gmail.com</td>
      <td>073823232</td>
      <td>Test</td>
      <td>IT</td>
      <td>22/01/1979</td>
      <td class="btn btn-primary btn-sm float-right">Edit</td>
      <td class="btn btn-danger btn-sm float-right">Delete</td>
    </tr>

    <!-- <tr *ngFor="let blogPost of (blogPosts$ | async)">
      <td>{{ blogPost.postId }}</td>
      <td><a [routerLink]="['/blogpost/', blogPost.postId]">{{ blogPost.title }}</a></td>
      <td>{{ blogPost.creator }}</td>
      <td>{{ blogPost.dt | date: "dd.MM.y" }}</td>
      <td><a [routerLink]="['/blogpost/edit/', blogPost.postId]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(blogPost.postId)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr> -->
  </tbody>
</table>